	<div class="form-group has-feedback">
	<%= f.label :vehicle_number, "Número da viatura" %>
	<%= f.text_field :vehicle_number,
					 :class => 'form-control',
                     :placeholder => 'Número da viatura',
                     :required => true %>
	</div>

	<div class="form-group has-feedback">
	<%= f.label :brand, "Marca" %>
	<%= f.text_field :brand, :class => 'form-control',
                            :placeholder => 'Marca do veículo',
                            :required => true%>
	</div>

	<div class="form-group has-feedback">
	<%= f.label :model, "Modelo" %>
	<%= f.text_field :model, :class => 'form-control',
                             :placeholder => 'Modelo do veículo',
                             :required => true %>
	</div>

	<div class="form-group has-feedback">
	<%= f.label :plaque, "Placa" %>
	<%= f.text_field :plaque, :class => 'form-control',
                             :placeholder => 'Placa do veículo' %>
	</div>

	<div class="form-group has-feedback">
	<%= f.label :chassi, "Chassi" %>
	<%= f.text_field :chassi, :class => 'form-control',
                             :placeholder => 'Chassi do veículo' %>
	</div>

	<div class="form-group has-feedback">
	<%= f.label :responsible, "Responsável" %>
	<%= f.text_field :responsible, :class => 'form-control',
                             :placeholder => 'Responsável pela viatura' %>
	</div>
	
	<div class="form-group has-feedback">
	<%= f.label :status, "Status" %>
	<%= f.select :status, options_for_select([["Ativa", "Ativa"], ["Em manutenção", "Em manutenção"], ["Desativada", "Desativada"]]), :class => "form-control" %>
	</div>

