<p align= "justify">
	<div style="padding-left: 50px; border:1px solid #999; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; min-height:20px; padding:19px;">
		<h2>
		<font face="verdana" color="gray">Número do veículo:</font><span>
		<%= @vehicle.vehicle_number %></br></span>
		<font face="verdana" color="gray">Marca:</font><span> 
		<%= @vehicle.brand %></br></span>
		<font face="verdana" color="gray">Modelo:</font> <span><%= @vehicle.model %></br></span>
		<font face="verdana" color="gray">Placa:</font> <span> <%= @vehicle.plaque %></br></span>
		<font face="verdana" color="gray">Chassi:</font> <span> <%= @vehicle.chassi %></br></span>
		<font face="verdana" color="gray">Responsável:</font> <span> <%= @vehicle.chassi %></br></span>
		<font face="verdana" color="gray">Status:</font> <span> <%= @vehicle.status %></br></span>
		</h2>
	</div>	
</p> 