
<center>
<div class="box" style="width:60%;">
  <div class="box-header">
    <h3 class="box-title">Motoristas cadastrados</h3>
    <div class="box-tools">
      <div class="input-group" style="width:150px;">
        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Procurar">
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Motorista</th>
        <th>Matrícula</th>
        <th>Patente</th>
        <th>CNH</th>
        <th>Categoria habilitação</th>
        <th>Vencimento CNH</th>
      </tr>
    </thead>
    <tbody>
      <% if !@drivers.blank? %>
        <% @drivers.each do |d| %>
          <tr>
            <td><%= d.driver_name %></td>
            <td><%= d.driver_id %></td>
            <td><%= d.driver_patent %></td>
            <td><%= d.driver_cnh %></td>
            <td><%= d.driver_license %></td>
            <td><%= d.license_expiration %></td>
          </tr>
        <% end %>
      <% else %>
          <tr>
            <td colspan="7">
              <div class="callout callout-info">
                <h4>Nenhum motorista cadastrado.</h4>
              </div>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

  
  <%= link_to "Cadastrar um motorista", new_driver_path, :class => "btn btn-large btn-primary" %>
</center>
